{% extends "rango/base.html" %}

{% block body_block %}
	<div class="page-header">
		<h1>Your Profile</h1>
	</div>
	
	<div>
		<li>Username - {{user.username}}</li>
		<li>email - {{user.email}}</li>
		
		
			{% if userprofile.website %}
				<li>Website - <a href = "{{userprofile.website}}">{{userprofile.website}}</a></li>
				{% else %}
					No Website Given
			{% endif %}
			
			{% if userprofile.picture %}
				<li>Picture - <img  width="90" height="100" src="{{userprofile.picture.url}}" alt = "Your Picture" /></li>
			{% else %}
				No Picture Given
			{% endif %}
	</div>
{% endblock %}